body {
  background-color: #FFF4FD;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  /*Encabezado*/ }
  body header {
    /*Menu*/ }
    body header .encabezado {
      margin: 1px;
      background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
      box-shadow: 0 1px 0 0 #110038; }
      body header .encabezado h1 {
        margin: 0;
        padding-left: 7px;
        padding-top: 3px;
        padding-bottom: 4px;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        font-weight: 400; }
    body header .menu {
      margin-top: 44px;
      margin-right: 6.33vw;
      margin-left: 6.33vw;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body header .menu .img_menu {
        width: 102.6px;
        height: 64px; }
      body header .menu nav ul {
        display: flex;
        list-style: none; }
        body header .menu nav ul li {
          padding: 9px; }
          body header .menu nav ul li a {
            text-decoration: none;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            text-align: center;
            line-height: 18px; }
          body header .menu nav ul li .sub_menu {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            padding: 0;
            line-height: 22px;
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
            body header .menu nav ul li .sub_menu li button {
              font-size: 16px;
              color: #110038;
              letter-spacing: 0;
              line-height: 22px;
              padding: 7px 16px; }
            body header .menu nav ul li .sub_menu li .day {
              background: #FFF4FD;
              border: 1px solid #CCA6C9;
              box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; }
            body header .menu nav ul li .sub_menu li .night {
              background: #F0F0F0;
              border: 1px solid #808080;
              box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
        body header .menu nav ul .boton {
          margin-left: 0;
          padding: 9px 24px;
          background: #F7C9F3;
          border: 1px solid #110038;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
        body header .menu nav ul .icon {
          padding: 9px 15px;
          margin-left: -19px; }
    body header .buscador {
      margin-right: 6.33vw;
      margin-left: 6.33vw;
      background: #E6E6E6;
      box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
      body header .buscador p {
        position: relative;
        top: 1px;
        margin: 3px;
        padding: 3px;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        font-size: 14px;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 0; }
      body header .buscador .contenedor_buscador {
        display: flex;
        align-items: center;
        margin-right: 15px; }
        body header .buscador .contenedor_buscador input {
          font-family: "Chakra Petch", sans-serif;
          width: 94%;
          font-size: 16px;
          color: #B4B4B4;
          letter-spacing: 0;
          line-height: 22px;
          padding: 13px 16px;
          margin: 12px 15px;
          background: #FFFFFF;
          border: 1px solid #797979;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
        body header .buscador .contenedor_buscador button {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 16px;
          color: #B4B4B4;
          letter-spacing: 0;
          line-height: 18px;
          width: 100px;
          height: 36px; }
          body header .buscador .contenedor_buscador button img {
            width: 18%; }
  body .seccion {
    margin-top: 64px;
    margin-right: 6.33vw;
    margin-left: 6.33vw; }
    body .seccion .titulo {
      padding: 7px;
      font-family: "Chakra Petch", sans-serif;
      font-size: 12px;
      color: #110038;
      letter-spacing: 0;
      background: #FFFAFE;
      border: 1px solid #E6BBE2;
      box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D; }
      body .seccion .titulo h2 {
        margin: 0;
        font-weight: 400; }
    body .seccion .contenedor_sugerencias {
      margin-top: 16px;
      display: flex;
      justify-content: space-between; }
      body .seccion .contenedor_sugerencias .sugerencia {
        width: 24%;
        background: #E6E6E6;
        padding: 1px;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
        body .seccion .contenedor_sugerencias .sugerencia .titulo_sugerencia {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
          font-family: "Chakra Petch", sans-serif;
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 0;
          padding: 3px;
          margin: 1px; }
          body .seccion .contenedor_sugerencias .sugerencia .titulo_sugerencia button {
            padding: 0;
            height: 15px; }
          body .seccion .contenedor_sugerencias .sugerencia .titulo_sugerencia h3 {
            margin: 0; }
        body .seccion .contenedor_sugerencias .sugerencia .imagen_sugerencia {
          height: 250px;
          margin-top: 2px; }
          body .seccion .contenedor_sugerencias .sugerencia .imagen_sugerencia a {
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 18px;
            background: #4180F6;
            border: 1px solid #4C2F99;
            box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
            text-decoration: none;
            padding: 8px 10px;
            position: relative;
            top: 85%;
            left: 7px; }
    body .seccion .contenedor_tendencias {
      margin-top: 16px; }
      body .seccion .contenedor_tendencias .tendencia {
        width: 24%;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

/*# sourceMappingURL=style-day.css.map */
