$color-fondo1: #FFF4FD;
$color-fondo2: #FFFAFE;
$color-fondo3: #4180F6;
$color-fondo4: #FFFAFE;
$color-texto1: #FFFFFF;
$color-texto2: #110038;
$color-texto3: #110038;
$color-gradiente: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$color-borde1: #E6BBE2 ;
$color-borde2: #CCA6C9;
$color-borde3: #808080;
$color-borde4: #110038;
$color-borde5: #4C2F99;
$color-borde6: #797979;
$color-boton1: #F7C9F3;
$color-boton2: #F0F0F0;
$color-shadow-azul: #110038;
$color-shadow-blanco: #FFFFFF;
$color-shadow-morado: #997D97;
$color-shadow-gris: #B4B4B4;
$color-shadow-rosa: #E6DCE4;
$color-shadow-azul-claro: #284F99;
$color-fondo-buscador: #E6E6E6;
$fuente-texto: 'Chakra Petch', sans-serif;

*{
    padding: 0;
    margin: 0;
    font-family: $fuente-texto;
}

body {
    background-color: $color-fondo1;
    width: 100%;
    font-family: $fuente-texto;
    box-sizing: border-box;
    /*Encabezado*/
}

.seccion {
    margin-top: 64px;
    margin-right: 6.33vw;
    margin-left: 6.33vw;
}

.titulo {
    padding: 7px;
    font-family: $fuente-texto;
    font-size: 12px;
    color: $color-texto2;
    letter-spacing: 0;
    background: $color-fondo2;
    border: 1px solid $color-borde1;
    box-shadow: inset -2px -2px 0 0 $color-shadow-rosa, inset 2px 2px 0 0 $color-shadow-morado; 
    h2 {
        margin: 0;
        font-weight: 400;
    }
}


// ----- ----- ----- ----- ----- HEADER ----- ----- ----- ----- ----- 
.encabezado {
    margin: 1px;
    background-image: $color-gradiente;
    box-shadow: 0 1px 0 0 $color-shadow-azul;
    h1{
        margin: 0;
        padding-left: 7px;
        padding-top: 3px;
        padding-bottom: 4px;
        font-size: 12px;
        color: $color-texto1;
        letter-spacing: 0;
        font-weight: 400;
    }
}
.menu{
    margin-top: 44px;
    margin-right: 6.33vw;
    margin-left: 6.33vw;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .reg{
        display: flex;
        align-items: center;
        .regresar{
            margin-right: 7px;
        }
    }
    .img_menu {
        width: 102.6px;
        height: 64px;
    }
    .enlaces{
        display: flex;
        align-items: center;
        .text{
            font-family: $fuente-texto;
            text-decoration: none;
            font-size: 16px;
            color: $color-texto3;
            letter-spacing: 0;
            line-height: 22px;
            margin: 16px;
        }
        .boton{
            padding: 9px 26.5px;
            font-size: 16px;
            background: $color-boton1;
            border: 1px solid $color-borde4;
            box-shadow: inset -1px -1px 0 0 $color-shadow-morado, inset 1px 1px 0 0 $color-shadow-blanco;
        }
        .select{
            padding: 10px 12px;
            font-size: 16px;
            background: $color-boton1;
            border: 1px solid $color-borde4;
            box-shadow: inset -1px -1px 0 0 $color-shadow-morado, inset 1px 1px 0 0 $color-shadow-blanco;
            outline: none;
        }
        .icon{
            margin: 0;
            padding: 12px 12px;
            position: relative;
            border-left: 1px solid $color-borde4;
        }
        .contenedor_tema{
            display: flex;
            flex-direction: column;
        
        }

        .subtemas{
            position: absolute;
            top: 127px; 
            display: none;
            flex-direction: column;
            z-index: 2;
            background: $color-fondo-buscador;
            box-shadow: inset -2px -2px 0 0 $color-shadow-gris, inset 2px 2px 0 0 $color-shadow-blanco;
            button{
                width: 160px;
                margin: 10px;
                outline: none;
            }
            .day{
                margin-bottom: 0;
                color: $color-texto2;
                background: $color-fondo4;
                border: 1px solid $color-borde2;
                box-shadow: inset -1px -1px 0 0 $color-shadow-rosa, inset 1px 1px 0 0 $color-shadow-blanco;
            }
            .night{
                background: $color-borde2;
                color: $color-texto3;
                border: 1px solid $color-borde3;
                box-shadow: inset -1px -1px 0 0 $color-shadow-gris, inset 1px 1px 0 0 $color-shadow-blanco;
            }
            &.active{
                display: flex;
            }
        }

    }
}
// Buscador
.buscador {
    margin-right: 6.33vw;
    margin-left: 6.33vw;
    background: $color-fondo-buscador;
    box-shadow: inset -2px -2px 0 0 $color-shadow-gris, inset 2px 2px 0 0 $color-shadow-blanco;
    p {
        position: relative;
        top: 1px;
        margin: 3px;
        padding: 3px;
        background-image: $color-gradiente;
        font-size: 14px;
        font-weight: 700;
        color: $color-texto1;
        letter-spacing: 0;
    }
    .contenedor_buscador {
        display: flex;
        align-items: center;
        margin-right: 15px;
        input {
            outline: none;
            font-family: $fuente-texto;
            width: 94%;
            font-size: 16px;
            color: $color-shadow-gris;
            letter-spacing: 0;
            line-height: 22px;
            padding: 13px 16px;
            margin: 12px 15px;
            background: $color-shadow-blanco;
            border: 1px solid $color-borde6;
            box-shadow: inset -2px -2px 0 0 $color-fondo-buscador, inset 2px 2px 0 0 #000000; 
        }
        button{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 16px;
            color: $color-shadow-gris;
            letter-spacing: 0;
            line-height: 18px;
            width: 100px;
            height: 36px;
            img {
                width: 18%;
            }
        }
    }
    .busqueda{
        position: absolute; 
        width: 87.2%;
        display: none;
        flex-direction: column;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        z-index: 2;
        button{
            margin: 0px 128px 10px 15px;
            padding: 7px 797px 7px 16px;
            background: #F0F0F0;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            font-size: 16px;
            text-align: left;
            color: #110038;
            letter-spacing: 0;
            line-height: 22px;
            outline: none;
            &:first-child{
                margin-top: 17px;
            }
        }
        &.active{
            display: flex;
        }
    }

}
.busquedas_recientes{
    margin-top: 12px;
    margin-right: 6.33vw;
    margin-left: 6.33vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    button{
        font-size: 14px;
        margin-right: 8px;
        color: $color-texto1;
        background-color: $color-fondo3;
        padding: 8px 7px;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        outline: none;
    }
    
}
// ----- ----- ----- ----- ----- SECCION HOY TE SUGERIMOS ----- ----- ----- ----- ----- 
.contenedor_sugerencias{
    margin-top: 16px;
    display: flex;
    .sugerencia {
        margin-left: 1%;
        margin-right: 1%;
        width: 24%;
        background: $color-fondo-buscador;
        padding: 1px;
        box-shadow: inset -2px -2px 0 0 $color-shadow-gris, inset 2px 2px 0 0 $color-shadow-blanco;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        .titulo_sugerencia {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: $color-gradiente;
            font-family: $fuente-texto;
            font-size: 14px;
            color: $color-texto1;
            letter-spacing: 0;
            padding: 3px;
            margin: 1px;
            button {
                padding: 0;
                height: 15px;
            }
            h3 {
                margin: 0;
            }
        }
        .imagen_sugerencia{
            height: 280px;
            margin-top: 2px;
            button {
                font-size: 14px;
                color: $color-texto1;
                letter-spacing: 0;
                text-align: center;
                line-height: 18px;
                background: $color-fondo3;
                border: 1px solid $color-borde5;
                box-shadow: inset -2px -2px 0 0 $color-shadow-azul-claro, inset 2px 2px 0 0 $color-shadow-blanco;
                text-decoration: none;
                padding: 8px 10px;
                position: relative;
                top: -50px;
                left: 7px;
                
            }
            img {
                width: 99.5%;
                height: 99.2%;
                align-self: center;
                position: relative;
                margin-left: 1px;
            }
        }
    }
}
.contenedor_tendencias{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .tendencia{
        width: 24%;
        height: 296px;
        margin-bottom: 10px;
        p{
            display: flex;
            background-image: $color-gradiente;
            font-family: $fuente-texto;
            font-size: 14px;
            color: $color-texto1;
            letter-spacing: 0;
            padding: 3px 1px 3px 1px;
            margin: 2px;
            font-weight: 600;
            position: relative;
            top: -34px;
            z-index: 3;
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
    .tendencia:hover{
        background: $color-fondo-buscador;
        box-shadow: inset -2px -2px 0 0 $color-shadow-gris, inset 2px 2px 0 0 $color-shadow-blanco;
        margin-top: 2px;
        p{
            display: block;
            width: 97.7%;
        }
        img{
            width: 98%;
            height: 98%;
            border: 1px dotted $color-borde4;
            margin: 2px;
        }
    }
    .width{
        width: 49%;
    }
}
    // ----- ----- ----- ----- ----- VENTANA CREAR GUIFOS ----- ----- ----- ----- ----- 
.tituloGuifos{
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    background-image: $color-gradiente;
    padding-top: 3.4px;
    padding-bottom: 2.6px; 
    padding-left: 7px;
}
.botones{
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    button{
        margin-bottom: 36px;
        padding: 9px 39.5px;
        background-color: $color-boton1;
        font-size: 16px;
        color: $color-texto3;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        border: 1px solid $color-borde4;
        box-shadow: inset -1px -1px 0 0 $color-shadow-morado, inset 1px 1px 0 0 $color-shadow-blanco;
        outline: none;
    }
    
}
// Primera vista
.captura1{
width: 47vw;
background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
margin-left: auto;
margin-right: auto;
padding: 2px;
    .titulo_captura{
        display: flex;
        align-items: center;
        margin: 30px auto 7px 25px;
        h2{
            font-size: 16px;
            color: $color-texto2;
            letter-spacing: 0;
            line-height: 22px;
            font-weight: 700;
            margin-left: 16px;
        }
    }
    .instrucciones{
        font-family: $fuente-texto;
        margin: 7px 93px 28px 73px;
        font-weight: 400;
        font-size: 14px;
        color: $color-texto2;
        letter-spacing: 0;
        line-height: 20px;
        ol li{
            list-style: none;
            line-height: 28px;
        }
    }
    .botones{
        button{
            &:first-child{
                background-color: $color-fondo1;
                margin-right: 16px;
            }
        }
    }

    
}
// Segunda vista
.timer{
    margin-left: 3%;
    height: 20px;
    padding: 7px 13px 7px 21px;
    font-size: 16px;
    color: $color-texto2;
    letter-spacing: 0;
    line-height: 22px;
    background: $color-fondo4;
    border: 1px solid $color-borde3;
    box-shadow: inset -2px -2px 0 0 $color-shadow-gris, inset 2px 2px 0 0 $color-shadow-azul;
}
.contenedor_animacion{
    display: flex;
    img{
        width: 10px;
        height: 10px;;
        padding: 5px;
        margin-right: 6px;
        background: $color-boton1;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    }
    .animacion{
        display: flex;
        height: 20px;
        padding: 2px;
        background: #B4B4B4;
        box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #FFFCFC;
        .rectangulo{
            width: 12px;
            height: 20px;
            border: 1px solid #CECCCC;
            border-bottom: none;
            border-top: none;
            background: #999999;
        }
        .activo{
            background: #F7C9F3;
        }
    }
    
}
.captura2{
width: 50%;
display: none;
margin-left: auto;
margin-right: auto;
background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
padding: 1px;
    .vistaPrevia{
        width: 95%;
        height: 70%;
        padding: 2px;
        margin: 11px auto 24px auto;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        img{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: none;
        }
        video{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .contenedor_opciones1{
        display: block;
        .botones{
            button{
                &:first-child{
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: none;
                }
            }
         }
    }
    .contenedor_opciones2{
        display: none;
        justify-content: space-between;
        .botones{
            button{
                color: $color-texto1;
                background-color: #FF6161;
                &:first-child{
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: none;
                }
            }
         }
    }
    .contenedor_opciones3{
        display: none;
        justify-content: space-between;
        .botones{
            button{
                color: $color-texto2;
                margin-right: 10px;
                padding: 9px 31.5px;
                &:first-child{
                    background-color: #FFF4FD;
                    padding: 9px 13.5px;
                }
            }
         }
    }
}

// Vista "Subir guifo"

.subirGif{
    font-family: $fuente-texto;
    display: none;
    width: 60vw;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    .contenedor_content{     
        margin-top: auto;
        margin-bottom: auto;
        width: 95%;
        height: 90%;
        height: 70%;
        padding: 2px;
        margin: 11px auto 24px auto;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-top: 139px;
        }
        h2{
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 41px;
        }
        p{
            font-size: 12px;
            color: rgba(17,0,56,0.64);
            margin-top: 10px;
            margin-bottom: 138px;
        }
    }
}

// Vista "Guifo subido con exito"
.gifSubido{
    display: none;
    font-family: $fuente-texto;
    width: 50vw;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    .contenedor_content{
        .content{
            display: flex;
            align-items: flex-start;
            
            img{
                width: 50%;
                height: 191px;
                background: #FFFFFF;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                margin: 27px 27px 64px 27px;
            }
        }
        .subirGuifo{
            display: flex;
            flex-direction: column;
            p{
                margin-top: 49px;
            }
            button{
                margin-top: 15px;
                margin-bottom: 15px;
                background: #FFF4FD;
            }
        }     
    }
}
.contenedor_misgifs{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .misGuifos{
        width: 24%;
        height: 296px;
        margin: 0px 0.5% 10px 0.5%;
        img{
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
}